{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div class="col m6 s12">
            <a class="btn btn-secondary" href="{{=URL('ecommerce','plugin_iugu','index')}}">{{=T('Ecommerce')}}</a>
            <a class="btn btn-secondary" href="{{=URL('ecommerce','plugin_iugu','get_users')}}">{{=T("Get Users")}}</a>
            <a class="btn btn-secondary" href="{{=URL('ecommerce','plugin_iugu','new_invoice')}}">{{=T("Gerar Fatura")}}</a>
            <a class="btn btn-secondary" href="{{=URL('ecommerce','plugin_iugu','list_invoices')}}">{{=T("Visualizar Faturas")}}</a>
            <a class="btn btn-secondary" href="{{=URL('ecommerce','plugin_iugu','new_customers')}}">{{=T("Novo Cliente")}}</a>
        </div>
    </div>
</div>
